.App {
    text-align: center;
  }
  
  .App-name {
    padding: 5vh;
    font-size: xx-large;
    text-align: center;
  }
  
  
  .App-header {
    background-color: pink;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  